@model Lun2Code.ViewModels.RegisterViewModel

@{
    Layout = "_LoginLayout";
}

<h3>Регистрация</h3>
<form method="post" asp-controller="Account" asp-action="Register" class="form group login-container">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordVerification"></label><br />
        <input asp-for="PasswordVerification" class="form-control" />
        <span asp-validation-for="PasswordVerification"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label><br />
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname"></span>
    </div>

    <div class="button-div">
        <input type="submit" value="Регистрация" class="btn btn-default"/>
    </div>
</form>