@{
    Layout = "_Layout";
}

@model User
@{
}

<div>
    <div class="usr-pic">
        <img src="images/gabriela_lotarynska_cpp.jpg"/>
        <b1>@Model</b1>
    </div>
    
    <div>
        
    </div>
    
</div>