@{
    Layout = "_Layout";
}

@model User
@{
}

<div>
    <div class="usr-pic">
        <img src="images/gabriela_lotarynska_cpp.jpg"/>
        <b1>@Model</b1>
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary button-main-page"  
                                    onclick="@("window.location.href='" + @Url.Action("Update", "User") + "'");">Редактировать страницу</button>
    </div>
    
</div>