@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/code_editor.css?Version=49"/>
</head>

<textarea class="code" name="code_text" id="code_text">

</textarea>

<textarea class="input" name="input_text" id="input_text">


</textarea>

<textarea class="output" name="output_text" id="output_text">

</textarea>

<button type="submit" class="btn btn-primary button_run"
        onclick="RunCode()">
    Run Code
</button>

<script>
    function RunCode() {
        
        var code = $("#code_text").val();
        var input = $("#input_text").val();
        
        $.ajax({
                type: "POST",
                url: "CodeEditor/Run",   
                data: {'code': code, 'input': input},    
                async: true,
                success: function (msg) {
                    $("#output_text").val(msg)
                },
                error: function () {
                    return "error";
                }
         });
    }
</script>