@{
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/code_editor.css?Version=49"/>
</head>

<textarea class="code_text" name="code">
</textarea>
<textarea class="input">
</textarea>

<textarea class="output"></textarea>

<button type="submit" class="btn btn-primary button_run" >Run Code</button>