.code {
    height:500px;
    width:625px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 80%;
    overflow:scroll;
}

.input {
    height: 500px;
    width: 310px;
    background-color: #ffffff;
    overflow: scroll;
}

.output {
    height:125px;
    width:800px;
    background-color: #ffffff;
}

/* 939 */
.button_run {
    margin-bottom: 110px;
    height:75px;
    width:135px;
    background-color: #006064;
}